body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.all {

    display: grid;
    background-color: white;
    width: 670px;
    height: 450px;
    grid-template-columns: 1fr 1fr;
    border-radius: 8px;
}

.img {

    width: 100%;
    height: 450px;
    border-radius: 8px 0px 0px 8px;
}

.right {

    margin-top: 15px;
    margin-left: 20px;
}

.PERFUME {
    font-family: 'Montserrat';
    font-size: 10px;
    letter-spacing: 5px;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
}

.Gabrielle {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Fraunces';
    font-weight: 700;
    color: hsl(212, 21%, 14%);
    font-size: 37px;
}

.small {
    font-family: 'Montserrat';
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    line-height: 1.8;
}

.price {
    font-family: 'Fraunces';
    color: hsl(158, 36%, 37%);
    font-size: 35px;
    font-weight: 700;
    margin: 0px;
}
@media (max-width: 768px) {
    .all {
        grid-template-columns: 1fr;
        height: auto;
        width: 90%;
    }

    .img {
        border-radius: 8px 8px 0 0;
        height: 250px;
        object-fit: cover;
    }

    .right {
        margin: 20px;
    }
}

.button {

    background-color: hsl(158, 36%, 37%);
    color: white;
    font-family: 'Montserrat';
    font-weight: 700;
    width: 270px;
    height: 55px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
margin-top: 20px;
transition: background-color 0.4s;
cursor: pointer;
}
.button:hover{
    background-color: hsl(158, 36%, 31%) ;
}
.othe-price {

    font-family: 'Montserrat';
    color: hsl(228, 12%, 48%);
    font-size: 16px;
    font-weight: 500;
    padding-left: 22px;
    text-decoration: line-through;

}